@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #151313;
  color: white;
  font-family: 'Muli', sans-serif;
}

.container {
  /* height: 100vh; */
  display: grid;
  grid-template-areas: 
  "header"
  "hero-content"
  "search_container"
  "state"
  "cards_section"
  "footer"
  ;

  grid-template-rows: 50px 230px 80px 80px 600px 100px;

}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: #ccc;
  /* position: relative; */
  /* text-align: right; */
  /* align-items: flex-end; */
  margin-bottom: 5px;
  padding-top: 12px;
  padding-right: 20px;
  grid-area: header;
  /* align-items: flex-end; */
}

nav .link a {
  display: flex;
  /* position: relative; */
  text-decoration: none;
  font-size: 16px;
  color: white;
  /* align-items: flex-end; */
}

.hero-content {
  background-color: #ccc;
  margin-bottom: 5px;
  padding: 20px;
  position: relative;
  grid-area: hero-content;
}

.hero-content img {
  width: 300px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.search_container {
  background-color: #ccc;
  margin-bottom: 5px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: inline-block; */
  /* align-items: center; */
  /* position: absolute; */
  grid-area: search_container;
}

.search_container .search_box {
  /* position: absolute; */
  /* position: relative; */
  /* margin:  0 auto; */
  width: 662px;
  background: #fff;
  height: 45px;
  border-radius: 5px;
  display: flex;
  padding: 8px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
  /* align-items: center; */
  /* left: 50%; */
  /* transform: translate(-50%); */
}

.search_container .search_box .dropdown {
  width: 185px;
  border-right: 2px solid gray; 
  color: #9fa3b1;
  position: relative;
  cursor: pointer;
}

.search_container .search_box .dropdown .default_option {
  color: #9fa3b1;
  padding: 5px 20px;
  font-size: 18px;
  user-select: none;
}

.search_container .search_box .dropdown ul {
  position: absolute;
  
  top: 70px;
  left: -10px;
  background: #fff;
  width: 150px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
  display: none;
}

.search_container .search_box .dropdown ul.active {
  display: block;
}

.search_container .search_box .dropdown ul li {
  padding-bottom: 20px;
  user-select: none;
}

.search_container .search_box .dropdown ul li:last-child {
  padding-bottom: 0;
}

.search_container .search_box .dropdown ul li:hover {
  color: black;
}

.search_container .search_box .dropdown:before {
  content: "";
  /* align-items: center; */
  position: absolute;
  top: 14px;
  right: 22px;
  border: 8px solid;
  border-color: gray transparent transparent transparent;
}

.search_container .search_box .search_field {
  width: 400px;
  height: 100%;
  border-right: 2px solid gray;
  position: relative;
}

.search_container .search_box .search_field .input {
  font-family: 'Muli', sans-serif;
  color: #9fa3b1;
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  
}

/* .search_container .search_box .search_field .fas {
  position: absolute; 
  top: 4px;
  right: 5px;
  font-size: 27px;
  color: gray;
  cursor: pointer;
} */


.search_container .search_box .search {
  position: relative; 
  padding-top: 2px;
  padding-left: 20px;
  /* font-size: 20px */
  color: gray;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: gray;  
}

::-moz-input-placeholder {
  color: gray;  
}

::-ms-input-placeholder {
  color: gray;  
}

.state {
  background-color: #ccc;
  margin-bottom: 5px;
  padding: 20px;
  grid-area: state;

}

.state h1 {
  letter-spacing: 2.5px;
}

.cards_section { 
  background-color: #ccc;
  margin-bottom: 5px;
  /* messing with padding (July 28) */
  padding: 20px;
  grid-area: cards_section;
}

section {
  display: grid;
  grid-template-columns: 1fr repeat(3, minmax(auto, 400px));
  grid-gap: 20px;
  /* messing with padding (July 28) */
  
  padding: 0px 0;
}

/* .card_container img {
  height: 400px;
} */

.text-medium {
  font-family: 'Muli', sans-serif;
  font-size: 24px;
}

.cards {
  grid-column: 2 / span 3;
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 400px));
  grid-gap: 20px;
  
}

.card {
  grid-column-end: span 1;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  /* animation for card (7/28)*/
  /* transition: all 0.3s ease 0s; */
}

.card_container {
  width: 100%;
  padding-top: 56.25%;
  height: 400px;
  overflow: hidden;
  position: relative;

}

.card_container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 .card_content {
  display: flex;
  background-color: rgb(107, 104, 104);
  padding-left: 20px;
  height: 60px;
  align-items: center;
} 

.card_content p {
  display: inline-block;
}

.footer {
  background-color: #ccc;
  margin-bottom: 5px;
  padding: 20px;
  grid-area: footer;
}
